name: Generate GitHub Snake

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Generate Contribution Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg?palette=github-light&color_snake=00FF00&color_dots=003300,006600,009900,00CC00,00FF00
            dist/github-snake-dark.svg?palette=github-dark&color_snake=00FF00&color_dots=003300,006600,009900,00CC00,00FF00
            dist/github-snake-ocean.gif?color_snake=00FF00&color_dots=003300,006600,009900,00CC00,00FF00&color_background=000000
